/* Header */

.header {
    background-color: #235390;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header_wrap {
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
}

.header__name {
    font-size: 3rem;
    font-weight: 700;
    line-height: 90px;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__course {
    display: block;
    position: relative;
    top: -2px;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 700;
    font-size: 2rem;
    margin-right: 32px;
}

.nav__statr {
    color: var(--white-color);
    background-color: #58CC02;
}


/* Slider */

.slider {
    background-color: #235390;
    margin-top: var(--header-height);
    position: relative;
}

.slider-wrap {
    height: 410px;
    display: flex;
    justify-content: space-between;
}

.slider__content {
    margin-top: 48px;
    width: 540px;
}

.slider__content-heading {
    font-size: 4rem;
    font-weight: 700;
    color: var(--white-color);
    line-height: 6rem;
}

.slider__content-heading--color {
    color: #58CC02;
}

.slider__content-text {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
    margin: 36px 0;
    color: var(--white-color);
}

.slider__img {
    display: block;
    margin-top: 36px;
    Width: 410px;
    Height: 330px;
}


/* course */

.course {
    width: 80%;
    position: absolute;
    top: 92%;
    left: 10%;
}

.course__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    text-align: center;
    background-color: #0A4A82;
    padding: 12px;
    border-radius: 20px;
}

.course__item {
    flex: 1;
    color: var(--white-color);
    font-weight: 700;
    line-height: 2.5rem;
    position: relative;
}

.course__item.nation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 26px;
}

.course__item--separate::after {
    content: "";
    position: absolute;
    border: 2px solid #cccc;
    height: 80%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.course__item-number {
    font-size: 1.8rem;
}

.course__item-text {
    font-size: 1.8rem;
}

.course__item-img {
    height: 30px;
    width: 50px;
}


/* Reason */

.reason {
    margin-top: 92px;
}

.reason__heading {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

.reason__warp-img {
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reason__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #42637D;
    margin: 16px 0;
    padding: 0 8px;
}


/* introduce */

.introduce {
    text-align: center;
    margin: 16px 0;
}

.introcdece__heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.introcduce__content {
    height: 250px;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introcdece__wrap-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 54px;
}

.introcduce__content-heading {
    font-size: 2rem;
    font-weight: 700;
}

.introcduce__content-text {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: #8A8A8A;
    margin: 0;
}